*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background:linear-gradient(#333333 70%, #3f3058);
    height: 100vh;
}

nav ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    background-color: rgb(17, 17, 17,.5);
    height: 56px;
}
nav ul li{
    padding: 10px 20px;
    border-right: 1px solid rgb(192, 192, 192, .03);
    text-align: center;
}

nav ul li:first-of-type{
    width: 150px;
}

nav li a{
    font-size: 18px;
    line-height: 2;
    text-decoration: none;
    color:white;
}
main{
    display: flex;
    justify-content: center;
    height: calc(100vh - 56px);
}

.oferta{
    background-color: ghostwhite;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.oferta-img-container{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oferta-img-container img{
    width: 235px;
}

.oferta-stamp{
    position: absolute;
    width: 300px !important;
    opacity: .8;
}

.oferta-name-container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.old-price{
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
}

.oferta-name-container h1{
    padding: 10px;
}

.oferta-name-container h2{
    text-align: center;
    font-size: 40px;
    padding: 10px;
    color:#333;
    font-weight: 400;
}   
a.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius:.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

a.btn:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.description{
    background-color: ghostwhite;
    padding: 10px;
    font-weight: 300;
    font-size: 18px;
}

.produto-price p{
    font-size: 50px;
    display: flex;
    align-items: baseline;
}

.produto-price p .cents{
    font-size: 16px;
}

.produto-price p .cents:before{
    content: ',';
}